!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Stylish Portfolio Template for Bootstrap
    / Bootstrap core CSS
    = stylesheet_link_tag "application"
  %body
    / Full Page Image Header Area
    #top.header
      .vert-text
        %h1 Bruno Coelho
        %h3
          %em Web Design
          &
          %em Web Development
        %a.btn.btn-default.btn-lg{href: "#about"} Find Out More
    / /Full Page Image Header Area
    / Intro
    #about.intro
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h2 I Develop Websites and Webapps.
            %p.lead
              Check out my latest work and services. Feel free to contac me if you need help getting your wedsite together.
    / /Intro
    / Services
    #services.services
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            %h2 Services Provided
            %hr/
        .row
          .col-md-3.col-md-offset-3.text-center
            .service-item
              = image_tag "web_design.png"
              %h4 Web Design
              %p.justify
          .col-md-3.text-center
            .service-item
              = image_tag "web_development.png"
              %h4 Web Development
              %p.justify Need a complex web application developed and deployed with the lattest and best technologies? Webapp developemt usind Test Driven Development with Ruby on Rails.
    / /Services
    / Callout
    .callout
      .vert-text
        %h1= link_to "Checkout the CV", "#", :id => "no_deco"
    / /Callout
    / Portfolio
    #portfolio.portfolio
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            %h2 Work
            %hr/
        .row
          .col-md-4.col-md-offset-2.text-center
            .portfolio-item
              %a{href: "#"}
                %img.img-portfolio.img-responsive{src: "/assets/portfolio-1.jpg"}/
              %h4 Explicas.me
          .col-md-4.text-center
            .portfolio-item
              %a{href: "#"}
                %img.img-portfolio.img-responsive{src: "/assets/portfolio-2.jpg"}/
              %h4
                Rental Manager
                %small= link_to "[code here]", "#"
        .row
          .col-md-4.col-md-offset-2.text-center
            .portfolio-item
              %a{href: "#"}
                %img.img-portfolio.img-responsive{src: "/assets/portfolio-3.jpg"}/
              %h4
                Wallet
                %small= link_to "[code here]", "#"
          .col-md-4.text-center
            .portfolio-item
              %a{href: "#"}
                %img.img-portfolio.img-responsive{src: "/assets/portfolio-4.jpg"}/
              %h4
                Sun Shine(?)
                %small= link_to "[code here]", "#"
    / /Portfolio
    / Call to Action
    .call-to-action
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %h3 Need help with web related stuff? Let's chat a bit.
            %a.btn.btn-lg.btn-default{href: "mailto:bruno@bccoelho.com"} Contact
    / /Call to Action
    / Footer
    %footer
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            %ul.list-inline
              %li
                = link_to(image_tag("linkedin.png", :size => "40"), "#")
              %li
                = link_to(image_tag("twitter.png", :size => "40"), "#")
              %li
                = link_to(image_tag("github.png", :size => "40"), "#")
              %li
                = link_to(image_tag("tumblr.png", :size => "46"), "#")
            .top-scroll
              %a{href: "#top"}
                %i.fa.fa-circle-arrow-up.scroll.fa-4x
            %hr/
            %p bruno@bccoelho.com
    / /Footer
    / JavaScript
    = javascript_include_tag "application"
    / Custom JavaScript for the Side Menu and Smooth Scrolling
    :javascript
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
    :javascript
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });